// Buttons
.btn {
  display: inline-block;
  vertical-align: middle;
  background: none;
  outline: 0 none;
  border: 2px solid transparent;
  border-radius: 0;
  padding: 17px 27px;
  background-color: $btn-color;
  color: #0d0d0d;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  transition: .2s all;

  &:hover {
    color: #0d0d0d;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &--hero {
    &:hover {
      background-color: transparent;
      border: 2px solid $btn-color;
      color: #fff;
    }
  }

  &--stock,
  &--good {
    width: 100%;
    max-width: 180px;

    &:hover {
      background-color: #fff;
      border: 2px solid $btn-color;
      transition: .2s all;
    }
  }

  &--feedback {
    padding: 12px 22px;
    background-color: #fff;
    border: 2px solid #000;

    &:hover {
      background-color: $text-color;
      color: #fff;
      transition: .2s all;
    }
  }

  &--footer-feedback {
    padding: 12px 22px;
    background-color: $text-color;
    color: #fff;
    border: 2px solid #fff;

    &:hover {
      background-color: #fff;
      color: $text-color;
      transition: .2s all;
    }
  }
}
