//Hero banner
.hero {
  position: relative;

  &-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 545px;
  }

  &-slide {
    height: 100%;
    width: 100%;
    padding: 170px 0 140px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    z-index: 2;

    @include max-w($screen-sm) {
      padding: 110px 0 80px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: #000;
      opacity: .3;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: left;
  }

  &__title {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;

    @include max-w($screen-sm) {
      font-size: 32px;
    }
  }

  &__description {
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 22px;

    @include max-w($screen-sm) {
      margin-bottom: 40px;
      font-size: 13px;
    }
  }

  &__catalog {
    margin-left: 15px;
    font-size: 12px;

    a {
      color: #fff;
      font-weight: 500;
      text-decoration: underline;
    }

    @include max-w($screen-sm) {
      margin-top: 30px;
      display: block;
    }
  }
}

//Stock
.stock {
  &__items {
    margin: 0 -10px;
    display: flex;
    flex-direction: row;

    @include max-w(767px) {
      max-width: 300px;
      margin: 0 auto;
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 300px;
    margin: 0 10px 20px;
    padding: 30px;
    border: 2px solid #f6f6f6;
    text-align: center;

    @include max-w(767px) {
      width: 100%;
      margin: 0 auto 20px;
    }

    &-title {
      margin: 40px 0 20px;
      font-size: 15px;
      font-weight: 500;
      text-decoration: underline;
      text-align: center;
    }

    &-description {
      margin-bottom: 30px;
      font-size: 13px;
      color: #626262;
      text-align: center;
    }

    &-price {
      margin-bottom: 30px;
      display: block;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }

    &-btn {
      text-align: center;
    }
  }
}

//Advantages
.advantage {
  &__items {
    margin: 0 -10px;
    display: flex;
    flex-direction: row;

    @include max-w(767px) {
      max-width: 300px;
      margin: 0 auto;
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 300px;
    margin: 0 10px;
    padding: 40px;
    border: 2px solid #fff;
    text-align: center;
    transition: .2s all;

    @include max-w(767px) {
      width: 100%;
      margin: 0 auto 20px;
    }

    &:hover {
      background-color: #fff;
      border: 2px solid #fff;
      box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
      transition: .2s all;
    }

    &-title {
      margin: 40px 0 20px;
      font-size: 15px;
      font-weight: 500;
    }

    &-description {
      font-size: 12px;
    }
  }
}

//Goods
.good {
  &__items {
    margin: 0 -10px;
    display: flex;
    flex-direction: row;

    @include max-w($screen-lg) {
      max-width: 670px;
      margin: 0 auto;
      flex-wrap: wrap;
    }

    @include max-w(767px) {
      max-width: 220px;
    }
  }

  &__item {
    width: 220px;
    margin: 0 10px 20px;
    padding: 20px;
    border: 2px solid #f6f6f6;
    text-align: center;

    @include max-w($screen-lg) {
      width: 47%;
      margin: 0 10px 20px;
    }
    @include max-w(767px) {
      width: 100%;
      margin: 0 auto 20px;
    }

    &-img {
      width: 100%;
      max-width: 180px;
      margin: 0 auto;
      position: relative;

      img {
        width: 180px;
        height: 155px;
      }
    }

    &-discount {
      padding: 10px;
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: #ff0000;
      color: #fff;
      font-size: 10px;
      line-height: 1;
      font-weight: 500;
      text-transform: uppercase;
    }

    &-title {
      margin: 25px 0;
      font-size: 12px;
      font-weight: 500;
      text-decoration: underline;
    }

    &-price {
      margin-bottom: 20px;
    }

    &-default-price {
      color: #000;
      font-weight: 500;
    }

    &-old-price {
      margin-right: 15px;
      font-size: 10px;
      color: #979797;
      text-decoration: line-through;
    }

    &-new-price {
      font-size: 16px;
      font-weight: 500;
      color: #ff0000;
    }
  }
}

//Services
.service {
  &__items {
    margin: 0 -10px;
    display: flex;
    flex-direction: row;

    @include max-w(767px) {
      max-width: 300px;
      margin: 0 auto;
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 300px;
    margin: 0 10px;
    padding: 40px;
    border: 2px solid #fff;
    text-align: center;

    @include max-w(767px) {
      width: 100%;
      margin: 0 auto 20px;
    }

    &-title {
      margin-top: 20px;
      font-size: 15px;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}

//Contacts
.contacts {
  position: relative;

  &__title {
    margin-bottom: 30px;
    text-align: left;
  }
  &__map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  &__block {
    width: 100%;
    max-width: 380px;
    margin-left: auto;
    padding: 60px;
    background-color: #fff;
    position: relative;
    font-size: 14px;

    @include max-w($screen-sm) {
      padding: 40px;
    }
  }

  &__tel {
    display: flex;

    &-icon {
      margin-right: 20px;
    }

    &-link {
      a {
        margin-bottom: 20px;
        display: block;
        color: $text-color;
        font-weight: 500;
      }
    }
  }

  &__location {
    margin: 20px 0 40px;
    display: flex;

    &-icon {
      margin-right: 20px;
    }
  }

  &__mail {
    display: flex;

    &-icon {
      margin-right: 20px;
    }

    &-link {
      a {
        color: $text-color;
        text-decoration: underline;
      }
    }
  }
}