// Footer
.page-footer {
  padding: 50px 0 40px;
  position: relative;
  background-color: $text-color;
  color: #fff;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include max-w($screen-sm) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__logo {
    img {
      filter: brightness(10);
    }
  }

  &__copy {
    margin-top: 50px;
    font-size: 12px;
  }

  &__contacts {
    text-align: right;

    @include max-w($screen-sm) {
      margin-bottom: 40px;
      order: -1;
      text-align: center;
    }
  }

  &__tel {
    a {
      font-size: 18px;
      font-weight: 700;
      color: #fff;
    }

    @include max-w($screen-sm) {
      display: none;
    }
  }

  &__delivery {
    font-size: 11px;
    line-height: 1.5;
  }

  &__btn {
    margin-top: 30px;

    @include max-w($screen-sm) {
      margin-top: 0;
    }
  }
}